/* Originally written by Bruno Alexandre, 26.03.2010, twitter.com/balexandre,
 * balexandre.com,  abruno.in.dk [at] gmail.com
 *
 * Rewritten into CSS3/SASS by Ondrej Jirman <megous@megous.com>, 2011 (for
 * CodeBerry s.r.o.)
 */
/* line 11, ux-date-picker.sass */
.ux-date-picker {
  color: #3f4e5e;
  float: left;
  background-color: white;
  width: 100%;
}
/* line 19, ux-date-picker.sass */
.ux-date-picker table {
  width: 100%;
  position: relative;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 20px;
}
/* line 28, ux-date-picker.sass */
.ux-date-picker tbody td {
  border-bottom: 1px solid #a3a7af;
  border-right: 1px solid #a3a7af;
  border-top: 1px solid white;
}
/* line 32, ux-date-picker.sass */
.ux-date-picker tbody td:last-child {
  border-right: 0px;
}
/* line 36, ux-date-picker.sass */
.ux-date-picker td {
  font-weight: bold;
  height: 43px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d8d7db), color-stop(100%, #d3d2d7));
  background-image: -moz-linear-gradient(top, #d8d7db 0%, #d3d2d7 100%);
  background-image: linear-gradient(top, #d8d7db 0%, #d3d2d7 100%);
  text-shadow: white 1px 1px 1px;
}
/* line 45, ux-date-picker.sass */
.ux-date-picker td.today {
  color: white;
  text-shadow: #333333 1px 1px 2px;
  border: 1px solid black;
  background: #7188a8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #44566f), color-stop(10%, #7188a8), color-stop(90%, #7188a8), color-stop(100%, #b0bdcf));
  background-image: -moz-linear-gradient(top, #44566f 0%, #7188a8 10%, #7188a8 90%, #b0bdcf 100%);
  background-image: linear-gradient(top, #44566f 0%, #7188a8 10%, #7188a8 90%, #b0bdcf 100%);
}
/* line 53, ux-date-picker.sass */
.ux-date-picker td.weekend {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8c7cd), color-stop(100%, #c3c2c9));
  background-image: -moz-linear-gradient(top, #c8c7cd 0%, #c3c2c9 100%);
  background-image: linear-gradient(top, #c8c7cd 0%, #c3c2c9 100%);
}
/* line 56, ux-date-picker.sass */
.ux-date-picker td.selected {
  color: white;
  text-shadow: #333333 1px 1px 2px;
  border: 1px solid black;
  background: #1980e5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%, #4699eb), color-stop(51%, #1980e5), color-stop(100%, #1466b7));
  background-image: -moz-linear-gradient(top, #4699eb 50%, #1980e5 51%, #1466b7 100%);
  background-image: linear-gradient(top, #4699eb 50%, #1980e5 51%, #1466b7 100%);
}
/* line 64, ux-date-picker.sass */
.ux-date-picker td.today.selected {
  color: white;
  text-shadow: #333333 1px 1px 2px;
  border: 1px solid black;
  background: #1980e5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0f4d89), color-stop(10%, #1980e5), color-stop(90%, #1980e5), color-stop(100%, #74b3f0));
  background-image: -moz-linear-gradient(top, #0f4d89 0%, #1980e5 10%, #1980e5 90%, #74b3f0 100%);
  background-image: linear-gradient(top, #0f4d89 0%, #1980e5 10%, #1980e5 90%, #74b3f0 100%);
}
/* line 72, ux-date-picker.sass */
.ux-date-picker td.prevmonth, .ux-date-picker td.nextmonth {
  color: #89909a;
}
/* line 75, ux-date-picker.sass */
.ux-date-picker thead {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cfcfd3));
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #cfcfd3 100%);
  background-image: linear-gradient(top, #f5f5f5 0%, #cfcfd3 100%);
}
/* line 78, ux-date-picker.sass */
.ux-date-picker thead th {
  font-size: 9px;
  vertical-align: bottom;
  padding-bottom: 3px;
  color: #3f4e5e;
  text-align: center;
  height: 46px;
  text-shadow: white 1px 1px 1px;
}
/* line 87, ux-date-picker.sass */
.ux-date-picker thead th:first-child {
  background: url(larr.png) center center no-repeat;
  cursor: pointer;
}
/* line 91, ux-date-picker.sass */
.ux-date-picker thead th:last-child {
  background: url(rarr.png) center center no-repeat;
  cursor: pointer;
}
/* line 95, ux-date-picker.sass */
.ux-date-picker thead th span {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  left: 14.5%;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 71%;
  z-index: 999;
  text-shadow: white 1px 1px 1px;
}
